# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.pythonlibs/

# Database
instance/
*.db
*.sqlite3

# IDE / Editor
.idea/
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env.local
.env.*.local

# Uploads
static/uploads/

# OS
.DS_Store
Thumbs.db

