Flask
Flask-Login
SQLAlchemy
psycopg[binary]==3.2.9
tabulate==0.9.0
python-dotenv==1.0.1
gunicorn
flask_sqlalchemy
pytest
PyPDF2
reportlab
openpyxl
itsdangerous
Flask-Mail
Flask
Flask-Login
Flask-Mail
flask_sqlalchemy
gunicorn
itsdangerous
jinja2
openpyxl
psycopg[binary]
PyPDF2
pytest
python-dotenv
reportlab
SQLAlchemy
tabulate
werkzeug
